
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="alternate" href="https://scalatra.github.io/scalatra-docbuild/index.xml" type="application/rss+xml" title="Scalatra">
		<link rel="icon" href="https://scalatra.github.io/scalatra-docbuild//favicon.ico">
		<title>Scalate - Scalatra</title>
		
		<link rel="stylesheet" href="https://scalatra.github.io/scalatra-docbuild//css/highlight/github.css">
		<link rel="stylesheet" href="https://scalatra.github.io/scalatra-docbuild//css/bootstrap.min.css">
		<link rel="stylesheet" href="https://scalatra.github.io/scalatra-docbuild//css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://scalatra.github.io/scalatra-docbuild//css/theme.css">
		<link rel="stylesheet" href="https://scalatra.github.io/scalatra-docbuild//css/bootie-docs.css">
		<link rel="stylesheet" href="https://scalatra.github.io/scalatra-docbuild//css/site.css">
	</head>

<body role="document">

	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://scalatra.github.io/scalatra-docbuild//"><img src="https://scalatra.github.io/scalatra-docbuild//images/logo-s.png" alt="logo"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
                    
			
			
				
					<li ><a href="https://scalatra.github.io/scalatra-docbuild/getting-started/">Getting started</a></li>
				
					<li ><a href="https://scalatra.github.io/scalatra-docbuild/news.html">News</a></li>
				
					<li ><a href="https://scalatra.github.io/scalatra-docbuild/guides/">Documentation</a></li>
				
					<li ><a href="https://scalatra.github.io/scalatra-docbuild/community/">Community</a></li>
				
			
                
				</ul>
				
			</div>
		</div>
	</nav>

<div class="container">


<div class="row">
  <div class="col-sm-9 doc-main">
	<main role="main">
	  <article>
		<a id="title"></a>
		<h1 class="doc-entry-title">Scalate</h1>
		<section>
		  

<p>If you&rsquo;re using Scalatra to build a web application (as opposed to an API), chances are you&rsquo;ll
want to render HTML layouts, page content, and re-usable fragments or partials. Like many other
frameworks, we refer to HTML templates as &ldquo;views&rdquo;.</p>

<p>Scalatra can render views in two main ways.</p>

<ol>
<li>Inline HTML, returned directly from an action.</li>
<li>Using the ScalateSupport helper trait which comes built into the default Scalatra g8 template.</li>
</ol>

<h2 id="introducing-scalate">Introducing Scalate</h2>

<p>Scalatra uses an extremely powerful templating engine, <a href="http://scalate.github.io/scalate/documentation/user-guide.html">Scalate</a>.
It supports multiple template styles. We think it&rsquo;s one of the best
template engines going - it&rsquo;s extremely fast, flexible, and feature-rich.</p>

<p>Some of Scalate&rsquo;s all-star features include:</p>

<ul>
<li>Custom template evaluation scopes / bindings</li>
<li>Ability to pass locals to template evaluation</li>
<li>Support for passing a block to template evaluation for &ldquo;yield&rdquo;</li>
<li>Backtraces with correct filenames and line numbers</li>
<li>Template file caching and reloading</li>
</ul>

<p>Scalate includes support for multiple templateing styles, including
<a href="http://scalate.github.io/scalate/documentation/ssp-reference.html">SSP</a> (similar to Velocity or ERB), <a href="http://scalate.github.io/scalate/documentation/scaml-reference.html">SCAML</a> (a Scala HAML variant),
<a href="http://scalate.github.io/scalate/documentation/mustache.html">Mustache</a>, and <a href="http://scalate.github.io/scalate/documentation/jade.html">Jade</a> (another HAML variant). Except for
Mustache, templates are strongly typed, so your compiler can save
you time by telling you when you make a mistake in your views.</p>

<p>All you need to get started is <code>Scalate</code>, which is included in Scalatra.
By default, Scalatra looks for views in the <code>views</code> directory in your application root.</p>

<p>There are two ways to use Scalate. You can use the ScalateSupport helpers,
or call Scalate directly. Either way, you&rsquo;ll need to extend your servlet
with <code>ScalateSupport</code>, like this:</p>

<pre><code class="language-scala">class YourServlet extends ScalatraServlet with ScalateSupport {
  get(&quot;/&quot;) {
    // render your views in the action (see below)
  }
}
</code></pre>

<h3 id="scalatesupport-helpers">ScalateSupport helpers</h3>

<p>The easiest way of using Scalate is to use Scalatra&rsquo;s ScalateSupport helpers.</p>

<p>Each possible kind of Scalate template (mustache, scaml, jade, ssp) has a
corresponding helper which can be used to find the template file.</p>

<p>Basic usage:</p>

<pre><code class="language-scala">get(&quot;/&quot;) {
  contentType=&quot;text/html&quot;

  ssp(&quot;/index&quot;)
}
</code></pre>

<div class="alert alert-info">
<span class="badge badge-info"><i class="glyphicon glyphicon-flag"></i></span>
When using the scalate helper methods, it is not required to having a leading
`/`, so `ssp("index")` would work just as well as `ssp("/index")`.
</div>

<p>You can also use a little bit less magic to do the same thing, using a method
called <code>layoutTemplate</code>. This method allows you to render any type of Scalate
template. You need to give the full path to the template, starting from the  WEB-INF
directory:</p>

<pre><code class="language-scala">get(&quot;/&quot;) {
  contentType=&quot;text/html&quot;

  layoutTemplate(&quot;/WEB-INF/templates/views/index.ssp&quot;)
}
</code></pre>

<p><span class="label label-warning"><i class="glyphicon glyphicon-warning-sign"></i> Watch out!</span>
When using <code>layoutTemplate</code>, you <em>must</em> prefix your view paths with a relative
<code>/</code> character. So, <code>layoutTemplate(&quot;/WEB-INF/templates/views/foo.ssp&quot;)</code> is good,
<code>layoutTemplate(&quot;WEB-INF/templates/views/foo.ssp)</code> will fail.</p>

<h4 id="passing-parameters-to-views">Passing parameters to views</h4>

<div class="alert alert-info">
<span class="badge badge-info"><i class="glyphicon glyphicon-flag"></i></span>
If you're coming from a dynamic language, pay attention to this next bit,
  because it may surprise you: you need to explicitly declare variables inside
  your views.
</div>

<p>As mentioned previously, Scalate templates are strongly typed (except for
Mustache, which isn&rsquo;t). This makes them extremely fast, and helps your productivity
by letting the compiler tell you when something&rsquo;s wrong. It also means that any
controller variables that you want to access in your views need to be explicitly
sent to the view by your controller. They need to be declared in the views before
they can be used.</p>

<p>View parameters are passed to your views using a Seq(String, Any) after
the path to the template file. The simplest example might look like this:</p>

<pre><code class="language-scala">get(&quot;/&quot;) {
  contentType=&quot;text/html&quot;

  ssp(&quot;/index&quot;, &quot;foo&quot; -&gt; &quot;uno&quot;, &quot;bar&quot; -&gt; &quot;dos&quot;)
}
</code></pre>

<p>The view for this action needs to declare variables for <code>foo</code> and <code>bar</code>, which would
look like:</p>

<pre><code class="language-html">&lt;%@ val foo: String %&gt;
&lt;%@ val bar: String %&gt;
&lt;p&gt;Foo is &lt;%= foo %&gt;&lt;/p&gt;
&lt;p&gt;Bar is &lt;%= bar %&gt;&lt;/p&gt;
</code></pre>

<p>The view can also receive parameters from the <code>templateAttributes</code> helper. This enables you to globally pass parameters from a <code>before</code> handler or inside of your route action if you have multiple steps for creating the parameters. An example would look like:</p>

<pre><code class="language-scala">before(){
  if(isAuthenticated) {
    templateAttributes(&quot;user&quot;) = Some(user)
  }
}
</code></pre>

<h4 id="layouts">Layouts</h4>

<p>Scalatra looks for layouts in the <code>webapp/layouts/</code> directory, and inserts the rendered
view for the current action into the template at the point you specify. If you&rsquo;re using
<code>SSP</code>, your layout might look something like this:</p>

<pre><code class="language-html">  &lt;%@ val body: String %&gt;
  &lt;html&gt;
    &lt;head&gt;..&lt;/head&gt;
    &lt;body&gt;
      &lt;%= unescape(body) %&gt;
    &lt;/body&gt;
  &lt;/html&gt;
</code></pre>

<p>The specific view for your action will be rendered at the
<code>&lt;%= unescape(body) %&gt;</code> statement.</p>

<h4 id="default-layouts">Default layouts</h4>

<p>By convention, Scalatra uses a default layout at <code>WEB-INF/layouts/default.xx</code> (where xx
is one of the scalate template types). If you are using ssp, for instance, and
you put a default.ssp file at WEB-INF/layouts/default.ssp, it will
automatically be used. In that case, you can simply call <code>ssp(&quot;/index&quot;)</code> and the
response will render within the default layout.</p>

<h4 id="a-id-layouts-a-specifying-an-alternate-layout"><a id="layouts"></a>Specifying an alternate layout</h4>

<p>The <code>layout</code> key passed from your actions is somewhat special, as it&rsquo;s used by
Scalate to identify the layout file, which wraps a standard layout around the
output for the current action.</p>

<pre><code class="language-scala">get(&quot;/&quot;) {
  contentType=&quot;text/html&quot;

  jade(&quot;/index&quot;, &quot;layout&quot; -&gt; &quot;WEB-INF/layouts/app.jade&quot;, &quot;foo&quot; -&gt; &quot;uno&quot;, &quot;bar&quot; -&gt; &quot;dos&quot;)
}
</code></pre>

<h4 id="disabling-layouts">Disabling layouts</h4>

<p>To disable a layout for certain templates, Scalate accepts an empty <code>layout</code>
parameter:</p>

<pre><code class="language-scala">get(&quot;/&quot;) {
  // This template will render without a layout.
  jade(&quot;/index&quot;, &quot;layout&quot; -&gt; &quot;&quot;, &quot;foo&quot; -&gt; &quot;uno&quot;, &quot;bar&quot; -&gt; &quot;dos&quot;)
}
</code></pre>

<h4 id="rendering-a-404-page">Rendering a 404 page</h4>

<p>You may need to render a 404 page when Scalatra can&rsquo;t find a route.</p>

<p>You can do this by putting the <code>notFound</code> helper into your servlet. Here&rsquo;s
how it looks, when using the ScalateSupport helpers to render the page.</p>

<pre><code class="language-scala">notFound {
  findTemplate(requestPath) map { path =&gt;
    contentType = &quot;text/html&quot;
    layoutTemplate(path)
  } orElse serveStaticResource() getOrElse resourceNotFound()
}
</code></pre>

<h3 id="using-scalate-directly">Using Scalate directly</h3>

<p>Some people like to call Scalate methods directly, bypassing the
(relatively minimal) magic of the ScalateSupport helpers.</p>

<p>Scalate can be called directly, using the
<code>templateEngine.layout(&quot;templateName&quot;)</code> method, like this:</p>

<pre><code class="language-scala">get(&quot;/&quot;) {
  templateEngine.layout(&quot;index.ssp&quot;)
  // renders webapp/index.ssp

  // OR you can tell Scalate to look in a sub-directory
  templateEngine.layout(&quot;/dogs/index.ssp&quot;)
  // would instead render webapp/dogs/index.ssp
}
</code></pre>

<p>When using Scalate directly, Scalatra will look for your template files
in the <code>webapp</code> folder of your application (which is found under <code>src/main/</code>
in the project tree).</p>

<h4 id="rendering-a-404-page-using-scalate">Rendering a 404 page using Scalate</h4>

<p>You may need to render some other page when Scalatra can&rsquo;t find a route.</p>

<p>Using Scalate directly, it looks a little bit different than when you&rsquo;re using
the ScalateSupport helpers:</p>

<pre><code class="language-scala">class MyScalatraFilter extends ScalatraFilter with ScalateSupport {
  notFound {
    // If no route matches, then try to render a Scaml template
    val templateBase = requestPath match {
      case s if s.endsWith(&quot;/&quot;) =&gt; s + &quot;index&quot;
      case s =&gt; s
    }
    val templatePath = &quot;/WEB-INF/templates/&quot; + templateBase + &quot;.scaml&quot;
    servletContext.getResource(templatePath) match {
      case url: URL =&gt;
        contentType = &quot;text/html&quot;
        templateEngine.layout(templatePath)
      case _ =&gt;
        filterChain.doFilter(request, response)
    }
  }
}
</code></pre>

<h3 id="scalate-error-page">Scalate error page</h3>

<p>Mixing in ScalateSupport enables the Scalate error page for any uncaught
exceptions.  This page renders the template source with the error highlighted.
To disable this behavior, override <code>isScalateErrorPageEnabled</code>:</p>

<pre><code class="language-scala">override def isScalateErrorPageEnabled = false
</code></pre>

<h3 id="further-reading">Further reading</h3>

<p>For more information on Scalate, please refer to the <a href="http://scalate.github.io/scalate/documentation/user-guide.html">Scalate User&rsquo;s guide</a>.
It has advice about layouts, partials, how to DRY up layout code, making Scalate
work with your IDE or text editor, and an extensive set of examples.</p>

		</section>
	  </article>
	</main>
  </div> 
  <div class="col-sm-3 doc-sidebar">
	<div id="sidebar">
	  <div class="sidebar-module">
  		<div class="sidebar-toc">
        <h4 class="sidebar-heading">Scalatra 2.4 Guides</h4>
        <h5 class="sidebar-heading">Outlook</h5>
  		  <ul>
          <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/scalatra-philosophy.html">Scalatra's philosophy</a></li>
        </ul>
  		  <h5 class="sidebar-heading">Development</h5>
  		  <ul>
    			<li><strong>HTTP</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/http/routes.html">Routes</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/http/actions.html">Actions</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/http/reverse-routes.html">Reverse Routes</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/http/requests-and-responses.html">Requests &amp; Responses</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/http/gzip.html">GZip</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/http/flash.html">Flash</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/http/authentication.html">Authentication</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/web-services/cors.html">CORS</a></li>
            </ul>
          </li>
    			<li><strong>Async</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/async/akka.html">Akka</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/async/atmosphere.html">Atmosphere</a></li>
            </ul>
          </li>
    			<li><strong>Views</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/views/inline-html.html">Inline HTML</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/views/scalate.html">Scalate</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/views/twirl.html">Twirl</a></li>
            </ul>
          </li>
    			<li><strong>Resources</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/resources/coffeescript.html">CoffeeScript</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/resources/less-css.html">LESS CSS</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/resources/wro4j.html">wro4j</a></li>
            </ul>
          </li>
    			<li><strong>Formats</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/formats/upload.html">File Upload</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/formats/json.html">JSON</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/formats/commands.html">Commands</a></li>
            </ul>
          </li>
    			<li><strong>Persistence</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/persistence/introduction.html">Introduction</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/persistence/mongodb.html">MongoDB</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/persistence/riak.html">Riak</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/persistence/slick.html">Slick</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/persistence/squeryl.html">Squeryl</a></li>
            </ul>
          </li>
    			<li><strong>Internationalization</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/internationalization.html">i18n</a></li>
            </ul>
          </li>
    			<li><strong>Testing</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/testing/scalatest.html">ScalaTest</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/testing/specs2.html">Specs2</a></li>
            </ul>
          </li>
    			<li><strong>API Design &amp; Documentation</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/swagger.html">Swagger</a></li>
            </ul>
          </li>
        </ul>
        <h5 class="sidebar-heading">After Development</h5>
        <ul>
          <li><strong>Monitoring</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/monitoring/logging.html">Logging</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/monitoring/metrics.html">Metrics</a></li>
            </ul>
          </li>
          <li><strong>Deployment</strong>
            <ul>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/deployment/configuration.html">Configuration</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/deployment/servlet-container.html">Servlet Container</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/deployment/standalone.html">Standalone</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/deployment/heroku.html">Heroku</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/deployment/jelastic.html">Jelastic</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/deployment/cloudbees.html">CloudBees</a></li>
              <li><a href="https://scalatra.github.io/scalatra-docbuild//guides/2.4/deployment/google-app-engine.html">Google App Engine</a></li>
            </ul>
          </li>
  		  </ul>
  		</div>
	  </div>
	</div>
  </div>
</div> 




</div> 

<footer class="doc-footer">
	
	<p>Scalatra Team</p>
	<p>Powered by <strong><a href="https://github.com/progrhyme/hugo-theme-bootie-docs">Bootie Docs</a></strong> - theme
		for <a href="http://gohugo.io/">Hugo</a> by <a href="https://github.com/progrhyme/">progrhyme</a>.</p>
</footer>



<script src="https://scalatra.github.io/scalatra-docbuild//js/jquery.min.js"></script>
<script src="https://scalatra.github.io/scalatra-docbuild//js/bootstrap.min.js"></script>

<script src="https://scalatra.github.io/scalatra-docbuild//js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://scalatra.github.io/scalatra-docbuild//js/ie10-viewport-bug-workaround.js"></script>
<script src="https://scalatra.github.io/scalatra-docbuild//js/bootie-docs.js"></script>

</body>
</html>

